# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
dist
nge-platform-teavm/js
node_modules
package.json
package-lock.json
bin
reports
build.date
.project
.classpath
.settings
*.log
local.properties
!nge-platform-teavm/package.json
!nge-platform-teavm/package-lock.json